{% extends "layout.html" %}

{% block main %}

<div class="divs">
    <div class="title">
    Make your changes in the window below.
    </div>
    <div>
        <form action="/editprofile" method="POST">
            <select class="hide" name="ident">
                <option value={{ident}}>ID</option>
            </select>
            <input type="text" name ="first" value={{first}}>
            <input type="text" name="last" value={{last}}>
            <input type="text" name ="url" placeholder="Profile picture URL" value={{url}}>
            <input class="submit input_field" type="submit" value="Submit changes">
        </form>

        <form action="/profile" method="POST">
            <select class="hide" name="first">
                <option value={{first}}>first</option>
            </select>
            <select class="hide" name="last">
                <option value={{last}}>last</option>
            </select>
            <select class="hide" name="id">
                <option value={{ident}}>last</option>
            </select>
            <select class="hide" name="url_img">
                <option value={{url}}>img url</option>
            </select>
            <input class="submit input_field" type="submit" value="Back to profile">
        </form>
    </div>
{% endblock %}