<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            FOLLOW-UP
        </title>
        <link href="/static/style.css" rel="stylesheet">
    </head>

    <body class="background">

        <div class="message_success">
            {{ message_success }}
        </div>

        <div class="login_register">
                <form action="/"><input class="input_field submit" name="back" type="submit" value="Back to Log In"></form>
        </div>

        <div class="error">
            {{ message_fail }}
        </div>

    </body>
</html>